h2 {
    color: #51732F;
}

.header-bebida {
    position: relative;
    margin-bottom: 1rem;
}

.header-bebida i {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2em;
    cursor: pointer;
}

i.active {
    color: #51732F;
}

.container-img-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-img-description img {
    width: 350px;
}

.container-img-description p {
    padding: 1em;
    text-align: center;
}

.container-carrito {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-carrito-container-select {
    margin: 0 2em;
}

.form-control-user {
    font-size: 1em;
    border-radius: 10rem;
    width: 70px;
    padding-top: .5em;
}

.container-calificar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-calificar div.container-calificar-stars{
    margin-left: 1em;
    padding-bottom: .4em;
}

.calificacion{
    cursor: pointer;
    margin: 0 .1em;
}

.btn-limpiar-calificacion{
    margin-left: 1em;
    margin-bottom: .4em;
}

.container-promedio-calificacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-listado-comentarios h2{
    text-align: center;
    margin: 1em 0;
}

.aling-right{
    text-align: right !important;
}

.container-listado-tus-comentarios{
    position: relative;
}

.container-listado-tus-comentarios i{
    position: absolute;
    right: 41px;
    top: 20px;
}

.container-listado-tus-comentarios i, .card-header i{
    font-size: 1.3em;
}

.container-listado-tus-comentarios i:hover, .card-header i:hover{
    color: #51732F;
    cursor: pointer;
    font-size: 1.3em;
}

.fa-cog{
    margin-left: 1em !important;
}

